---
layout: default_with_img
---

<!--
<div class="header-bar">
  <h1 style="font-size:60px">My BigData Notebook</h1>
  
  <br/>
  <hr>
  <br/>
</div>
-->

<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}. Estimated read time: {% assign words = post.content | number_of_words %}
        {% if words < 270 %}
          1 minute
        {% else %}
          {{ words | divided_by:220 }} minutes
        {% endif %} 
      </p>
        <p>{{ post.description }}</p>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>