<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% else %}<meta name="description" content="{{ site.description }}">{% endif %}
    {% seo %}
   
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% include shareaholic.html %}
    <link rel="shortcut icon" type="image/png" href="/favicon_sticky.png?">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

    {% if page.image %}
      <meta content="{{ site.url }}{{ page.image }}" property="og:image"/>
    {% else %}
      <meta content="{{ site.url }}/img/site_image.png" property="og:image"/>
    {% endif %}
    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta content="{{ category }}" property="article:section"/>
      {% endfor %}
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag"/>
      {% endfor %}
    {% endif %}

    <!-- AnchorJS for deep linking-->
    <script src="{{ site.baseurl }}/js/anchor.min.js"></script>
    
    <!-- JQuery and Waypoints only for blog pages-->    
    {% if page.id %}
      <script src="{{ site.baseurl }}/js/jquery-3.2.0.min.js"></script>
      <script src="{{ site.baseurl }}/js/jquery.waypoints.min.js"></script>
    {% endif %}
    


    <!-- Twitter card meta-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@site_username">
    <meta name="twitter:creator" content="@creator_username">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
      <meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}">
    {% else %}
      <meta name="twitter:image:src" content="{{ site.url }}/img/site_image.png">
    {% endif %}
</head>
