<div class="popup-subscribe">
	<span id="sub_arrow"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
	<span id="sub_text" title="Close">Hello, Would you like to subscribe so that I can keep you posted on my new aritcles?</span>
	<span id="sub_arrow"><i class="fa fa-quote-right" aria-hidden="true"></i></span>
	&nbsp;
	<span id="sub_close"><i class="fa fa-times" aria-hidden="true"></i></span>
</div>
<div class="is-mobile"></div>

<script>
$( document ).ready(function() {
	
	//$('.popup-subscribe').hide();
	var showPopup = true;
	if (typeof(Storage) !== "undefined") {
    	if (localStorage.getItem("show_popup") != null) {
    		var popupArr = localStorage.getItem("show_popup").split(",")
    		var t = parseInt(popupArr[1])
    		var d = new Date()
    		var m = d.getTime()
    		//if its has been atleast 1 hour after the last popup, show popup and update the storage
    		var delay = (60 * 60 * 1000)
    		//var delay = (10 * 1000)
    		if (m >= t + delay) {
    			localStorage.setItem("show_popup", [false, m])
    		} else {
    			showPopup = popupArr[0]	
    		}
    	}
	} else {
	    // Sorry! No Web Storage support..
	}
	
	
	var is_mobile = false;

    var isMobile = window.matchMedia("only screen and (max-width: 760px)");

    if (isMobile.matches) {
        showPopup = false;
    }

	var waypoints = $('#end-of-page').waypoint(function(){
    	if (showPopup == true) {
	   			showPopup = false;
				$('.popup-subscribe').show("slow")
				var d = new Date();
				var m = d.getTime();
				localStorage.setItem("show_popup", [false, m])
	   		}
	    },{
	    	offset: '80%'
		})

    /*
	var waypoint = new Waypoint({
	  element: document.getElementById('end-of-page'),
	  handler: function() {
	    if (showPopup == true) {
   			showPopup = false;
			$('.popup-subscribe').show("slow");
   		}
	  }
	})
	*/
	$( "#sub_close" ).click(function() {
	  $('.popup-subscribe').hide("fast");
	});
});



</script>